        <footer>
            <div class="content">
                <div class="site-footer">
                    <div class="links">
                        <div class="card">
                            <p>Tienda</p>
                            <div class="margin"></div>
                            <div class="items">
                                <p>Polos</p>
                                <p>Tazas</p>
                                <p>Stickers</p>
                            </div>
                        </div>
                        <div class="card">
                            <p>Compañía</p>
                            <div class="margin"></div>
                            <div class="items">
                                <a href="/quienes-somos" class="no-style-link">
                                <p>Quienes somos</p>
                                </a>
                                <p>Términos y condiciones</p>
                                <p>Privacidad</p>
                            </div>
                        </div>
                        <div class="card">
                            <p>Conecta</p>
                            <div class="margin"></div>
                            <div class="items">
                                <p>WhatsApp</p>
                                <p>Facebook</p>
                                <p>Instagram</p>
                            </div>
                        </div>
                    </div>
                    <div class="suscribe">
                        <h6>Suscríbete a nuestro boletín</h6>
                        <div class="margin1"></div>
                        <p>Recibe las últimas ofertas y descuentos en tu correo semanalmente.</p>
                        <div class="margin2"></div>
                        <div class="form">
                            <input type="email">
                            <button class="btn btn-secondary btn-lg">Suscribirse</button>
                        </div>
                    </div>
                </div>
                <div class="copyrigth">
                    <p>Todos los derechos reservados &copy; Full Stock</p>
                </div>
            </div>
        </footer>
    </body>
</html>
