:root {
  --space-3: 12px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --container-padding: 32px;
  --section-sm-padding: 64px;
  --font-letter-spacing-normal: 0px;
  --hero-padding: 256px;
  --rounded-2: 8px;
}