/* 1. Settings */
@import url("1-settings/colors.css");
@import url("1-settings/spacing.css");
@import url("1-settings/typography.css");
@import url("1-settings/width.css");

/* 3. Generic */
@import url("3-generic/reset.css");

/* 4. Elements */
@import url("4-elements/elements.css");

/* 5. Objects */
@import url("5-objects/objects.css");

/* 6. Components */
@import url("6-components/button.css");
@import url("6-components/categories.css");
@import url("6-components/category.css");
@import url("6-components/checkbox_group.css");
@import url("6-components/checkbox_item.css");
@import url("6-components/checkout_form.css");
@import url("6-components/content.css");
@import url("6-components/form_field.css");
@import url("6-components/hero.css");
@import url("6-components/input_type_checkbox.css");
@import url("6-components/input_type_radio.css");
@import url("6-components/input.css");
@import url("6-components/label.css");
@import url("6-components/links_group.css");
@import url("6-components/main_footer.css");
@import url("6-components/main_header.css");
@import url("6-components/main_nav.css");
@import url("6-components/nav_item.css");
@import url("6-components/newsletter_form.css");
@import url("6-components/price_filter.css");
@import url("6-components/product.css");
@import url("6-components/products_grid.css");
@import url("6-components/quality_item.css");
@import url("6-components/quality_promise.css");
@import url("6-components/radio_group.css");
@import url("6-components/radio_item.css");
@import url("6-components/select.css");
@import url("6-components/textarea.css");
@import url("6-components/footer.css");
@import url("6-components/promise.css");
@import url("6-components/about.css");
@import url("6-components/login.css");
@import url("6-components/auth.css");
@import url("6-components/product.css");

/* 7. Utilities */
@import url("7-utilities/utilities.css");
